In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Path al archivo
# agarrar un archivo csv random de la carpeta /Volumes/SSD_Fermin/TP_ANALITICA/data
import os
import random

# Obtener todos los archivos CSV de la carpeta data
data_dir = "/Volumes/SSD_Fermin/TP_ANALITICA/data"
archivos_csv = []
for root, dirs, files in os.walk(data_dir):
    for file in files:
        if file.endswith('.csv') and not file.startswith('._'):
            archivos_csv.append(os.path.join(root, file))

# Seleccionar un archivo aleatorio
archivo = random.choice(archivos_csv)
print(f"Archivo seleccionado: {archivo}")

# Cargar el CSV
df = pd.read_csv(archivo)

Archivo seleccionado: /Volumes/SSD_Fermin/TP_ANALITICA/data/2021/092021_pais_mayorista_parte1.csv

/var/folders/z5/hz8g2_8150x7z4zn9jgm4xjm0000gn/T/ipykernel_4949/3307625478.py:19: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(archivo)

In [17]:
# Dimensiones del dataset
print("Shape del DataFrame:")
print(df.shape)

Shape del DataFrame:
(743653, 65)

In [18]:
# Información general del DataFrame
print("Información del DataFrame:")
df.info()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743653 entries, 0 to 743652
Data columns (total 65 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id_comercio                743653 non-null  int64
 1   id_bandera                 743653 non-null  int64
 2   id_sucursal                743653 non-null  int64
 3   sucursales_provincia       743653 non-null  object
 4   id_producto                743653 non-null  object
 5   precio_uni_iva_20210901    694964 non-null  float64
 6   precio_uni_20210901        694964 non-null  float64
 7   precio_bulto_iva_20210901  694964 non-null  float64
 8   precio_bulto_20210901      694964 non-null  float64
 9   precio_uni_iva_20210902    688088 non-null  float64
 10  precio_uni_20210902        688088 non-null  float64
 11  precio_bulto_iva_20210902  688088 non-null  float64
 12  precio_bulto_20210902      688088 non-null  float64
 13  precio_uni_iva_20210903    689444 non-null  float64
 14  precio_uni_20210903        689444 non-null  float64
 15  precio_bulto_iva_20210903  689444 non-null  float64
 16  precio_bulto_20210903      689444 non-null  float64
 17  precio_uni_iva_20210904    689534 non-null  float64
 18  precio_uni_20210904        689534 non-null  float64
 19  precio_bulto_iva_20210904  689534 non-null  float64
 20  precio_bulto_20210904      689534 non-null  float64
 21  precio_uni_iva_20210905    671813 non-null  float64
 22  precio_uni_20210905        671813 non-null  float64
 23  precio_bulto_iva_20210905  671813 non-null  float64
 24  precio_bulto_20210905      671813 non-null  float64
 25  precio_uni_iva_20210906    694580 non-null  float64
 26  precio_uni_20210906        694580 non-null  float64
 27  precio_bulto_iva_20210906  694580 non-null  float64
 28  precio_bulto_20210906      694580 non-null  float64
 29  precio_uni_iva_20210907    693180 non-null  float64
 30  precio_uni_20210907        693180 non-null  float64
 31  precio_bulto_iva_20210907  693180 non-null  float64
 32  precio_bulto_20210907      693180 non-null  float64
 33  precio_uni_iva_20210908    703119 non-null  float64
 34  precio_uni_20210908        703119 non-null  float64
 35  precio_bulto_iva_20210908  703119 non-null  float64
 36  precio_bulto_20210908      703119 non-null  float64
 37  precio_uni_iva_20210909    496361 non-null  float64
 38  precio_uni_20210909        496361 non-null  float64
 39  precio_bulto_iva_20210909  496361 non-null  float64
 40  precio_bulto_20210909      496361 non-null  float64
 41  precio_uni_iva_20210910    695356 non-null  float64
 42  precio_uni_20210910        695359 non-null  float64
 43  precio_bulto_iva_20210910  695356 non-null  float64
 44  precio_bulto_20210910      695359 non-null  float64
 45  precio_uni_iva_20210911    698440 non-null  float64
 46  precio_uni_20210911        698458 non-null  float64
 47  precio_bulto_iva_20210911  698440 non-null  float64
 48  precio_bulto_20210911      698458 non-null  float64
 49  precio_uni_iva_20210912    676457 non-null  float64
 50  precio_uni_20210912        676475 non-null  float64
 51  precio_bulto_iva_20210912  676457 non-null  float64
 52  precio_bulto_20210912      676475 non-null  float64
 53  precio_uni_iva_20210913    700283 non-null  float64
 54  precio_uni_20210913        700301 non-null  float64
 55  precio_bulto_iva_20210913  700283 non-null  float64
 56  precio_bulto_20210913      700301 non-null  float64
 57  precio_uni_iva_20210914    691236 non-null  float64
 58  precio_uni_20210914        691254 non-null  float64
 59  precio_bulto_iva_20210914  691236 non-null  float64
 60  precio_bulto_20210914      691254 non-null  float64
 61  precio_uni_iva_20210915    705571 non-null  float64
 62  precio_uni_20210915        705589 non-null  float64
 63  precio_bulto_iva_20210915  705571 non-null  float64
 64  precio_bulto_20210915      705589 non-null  float64
dtypes: float64(60), int64(3), object(2)
memory usage: 368.8+ MB

In [19]:
# Nombres de las columnas
print("Columnas del DataFrame:")
for i, col in enumerate(df.columns, 1):
    print(f"{i}. {col}")

Columnas del DataFrame:
1. id_comercio
2. id_bandera
3. id_sucursal
4. sucursales_provincia
5. id_producto
6. precio_uni_iva_20210901
7. precio_uni_20210901
8. precio_bulto_iva_20210901
9. precio_bulto_20210901
10. precio_uni_iva_20210902
11. precio_uni_20210902
12. precio_bulto_iva_20210902
13. precio_bulto_20210902
14. precio_uni_iva_20210903
15. precio_uni_20210903
16. precio_bulto_iva_20210903
17. precio_bulto_20210903
18. precio_uni_iva_20210904
19. precio_uni_20210904
20. precio_bulto_iva_20210904
21. precio_bulto_20210904
22. precio_uni_iva_20210905
23. precio_uni_20210905
24. precio_bulto_iva_20210905
25. precio_bulto_20210905
26. precio_uni_iva_20210906
27. precio_uni_20210906
28. precio_bulto_iva_20210906
29. precio_bulto_20210906
30. precio_uni_iva_20210907
31. precio_uni_20210907
32. precio_bulto_iva_20210907
33. precio_bulto_20210907
34. precio_uni_iva_20210908
35. precio_uni_20210908
36. precio_bulto_iva_20210908
37. precio_bulto_20210908
38. precio_uni_iva_20210909
39. precio_uni_20210909
40. precio_bulto_iva_20210909
41. precio_bulto_20210909
42. precio_uni_iva_20210910
43. precio_uni_20210910
44. precio_bulto_iva_20210910
45. precio_bulto_20210910
46. precio_uni_iva_20210911
47. precio_uni_20210911
48. precio_bulto_iva_20210911
49. precio_bulto_20210911
50. precio_uni_iva_20210912
51. precio_uni_20210912
52. precio_bulto_iva_20210912
53. precio_bulto_20210912
54. precio_uni_iva_20210913
55. precio_uni_20210913
56. precio_bulto_iva_20210913
57. precio_bulto_20210913
58. precio_uni_iva_20210914
59. precio_uni_20210914
60. precio_bulto_iva_20210914
61. precio_bulto_20210914
62. precio_uni_iva_20210915
63. precio_uni_20210915
64. precio_bulto_iva_20210915
65. precio_bulto_20210915

In [20]:
# Estadísticas descriptivas
print("Estadísticas descriptivas:")
df.describe()

Estadísticas descriptivas:

,id_comercio,id_bandera,id_sucursal,precio_uni_iva_20210901,precio_uni_20210901,precio_bulto_iva_20210901,precio_bulto_20210901,precio_uni_iva_20210902,precio_uni_20210902,precio_bulto_iva_20210902,...,precio_bulto_iva_20210913,precio_bulto_20210913,precio_uni_iva_20210914,precio_uni_20210914,precio_bulto_iva_20210914,precio_bulto_20210914,precio_uni_iva_20210915,precio_uni_20210915,precio_bulto_iva_20210915,precio_bulto_20210915
count,743653.000000,743653.0,743653.000000,6.949640e+05,6.949640e+05,6.949640e+05,6.949640e+05,6.880880e+05,6.880880e+05,6.880880e+05,...,7.002830e+05,7.003010e+05,6.912360e+05,6.912540e+05,6.912360e+05,6.912540e+05,7.055710e+05,7.055890e+05,7.055710e+05,7.055890e+05
mean,62.925659,1.0,34.800451,8.426011e+03,6.990886e+03,9.853525e+03,8.150504e+03,5.748005e+03,4.789549e+03,7.214377e+03,...,8.135470e+03,6.730558e+03,6.755059e+03,5.613881e+03,8.219450e+03,6.800027e+03,6.964533e+03,5.786724e+03,8.405752e+03,6.953878e+03
std,1.967184,0.0,72.185903,3.098503e+05,2.561313e+05,3.098982e+05,2.561146e+05,2.521951e+05,2.088388e+05,2.526849e+05,...,2.736164e+05,2.261268e+05,2.749223e+05,2.272948e+05,2.750156e+05,2.272831e+05,2.796301e+05,2.311823e+05,2.797188e+05,2.311701e+05
min,60.000000,1.0,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,61.000000,1.0,6.000000,9.111000e+01,7.851000e+01,2.084200e+02,1.727100e+02,9.081000e+01,7.832000e+01,2.097800e+02,...,2.066900e+02,1.709800e+02,9.220000e+01,8.000000e+01,2.069900e+02,1.716100e+02,9.109000e+01,7.879000e+01,2.028400e+02,1.677700e+02
50%,63.000000,1.0,16.000000,1.714900e+02,1.462450e+02,7.934700e+02,6.593900e+02,1.713500e+02,1.459000e+02,8.152000e+02,...,7.937500e+02,6.603000e+02,1.747100e+02,1.487600e+02,8.131200e+02,6.780000e+02,1.723800e+02,1.472200e+02,7.746000e+02,6.428000e+02
75%,65.000000,1.0,29.000000,3.293400e+02,2.826400e+02,2.129990e+03,1.766680e+03,3.276400e+02,2.821800e+02,2.151850e+03,...,2.169120e+03,1.799760e+03,3.358600e+02,2.850300e+02,2.185250e+03,1.812220e+03,3.333900e+02,2.849000e+02,2.144570e+03,1.780790e+03
max,70.000000,1.0,374.000000,1.210000e+07,1.000000e+07,1.210000e+07,1.000000e+07,1.210000e+07,1.000000e+07,1.210000e+07,...,1.210000e+07,1.000000e+07,1.210000e+07,1.000000e+07,1.210000e+07,1.000000e+07,1.210000e+07,1.000000e+07,1.210000e+07,1.000000e+07

In [21]:
# Valores nulos por columna
print("Valores nulos por columna:")
nulos = df.isnull().sum()
porcentaje_nulos = (nulos / len(df)) * 100
pd.DataFrame({
    'Valores Nulos': nulos,
    'Porcentaje Nulos': porcentaje_nulos
}).sort_values('Valores Nulos', ascending=False)

Valores nulos por columna:

                           Valores Nulos  Porcentaje Nulos
precio_uni_iva_20210909           247292         33.253681
precio_bulto_iva_20210909         247292         33.253681
precio_uni_20210909               247292         33.253681
precio_bulto_20210909             247292         33.253681
precio_uni_iva_20210905            71840          9.660420
...                                  ...               ...
id_comercio                            0          0.000000
id_bandera                             0          0.000000
id_sucursal                            0          0.000000
sucursales_provincia                   0          0.000000
id_producto                            0          0.000000

[65 rows x 2 columns]

In [22]:
# Primeras filas
print("Primeras 5 filas:")
df.head()

Primeras 5 filas:

,id_comercio,id_bandera,id_sucursal,sucursales_provincia,id_producto,precio_uni_iva_20210901,precio_uni_20210901,precio_bulto_iva_20210901,precio_bulto_20210901,precio_uni_iva_20210902,...,precio_bulto_iva_20210913,precio_bulto_20210913,precio_uni_iva_20210914,precio_uni_20210914,precio_bulto_iva_20210914,precio_bulto_20210914,precio_uni_iva_20210915,precio_uni_20210915,precio_bulto_iva_20210915,precio_bulto_20210915
0,60,1,1,AR-B,7790580160807,241.99,199.99,725.97,599.97,241.99,...,725.97,599.97,NaN,NaN,NaN,NaN,241.99,199.99,725.97,599.97
1,60,1,1,AR-B,7790580982102,67.75,55.99,406.50,335.94,67.75,...,384.72,317.94,NaN,NaN,NaN,NaN,64.12,52.99,384.72,317.94
2,60,1,1,AR-B,7791120099854,114.94,94.99,344.82,284.97,114.94,...,344.82,284.97,NaN,NaN,NaN,NaN,114.94,94.99,344.82,284.97
3,60,1,1,AR-B,7791120099847,102.84,84.99,308.52,254.97,102.84,...,308.52,254.97,NaN,NaN,NaN,NaN,102.84,84.99,308.52,254.97
4,60,1,1,AR-B,7791120021565,55.58,45.93,333.48,275.58,55.58,...,333.48,275.58,NaN,NaN,NaN,NaN,55.58,45.93,333.48,275.58

In [23]:
# Últimas filas
print("Últimas 5 filas:")
df.tail()

Últimas 5 filas:

,id_comercio,id_bandera,id_sucursal,sucursales_provincia,id_producto,precio_uni_iva_20210901,precio_uni_20210901,precio_bulto_iva_20210901,precio_bulto_20210901,precio_uni_iva_20210902,...,precio_bulto_iva_20210913,precio_bulto_20210913,precio_uni_iva_20210914,precio_uni_20210914,precio_bulto_iva_20210914,precio_bulto_20210914,precio_uni_iva_20210915,precio_uni_20210915,precio_bulto_iva_20210915,precio_bulto_20210915
743648,70,1,4,AR-E,7790787100439,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,123.0,101.65,123.0,101.65
743649,70,1,4,AR-E,7790787006823,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,123.0,101.65,123.0,101.65
743650,70,1,4,AR-E,7790787100408,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,123.0,101.65,123.0,101.65
743651,70,1,4,AR-E,7790787100415,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,123.0,101.65,123.0,101.65
743652,70,1,4,AR-E,7791337533318,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,142.8,118.02,142.8,118.02

In [24]:
# Tipos de datos por columna
print("Tipos de datos por columna:")
df.dtypes

Tipos de datos por columna:

id_comercio                    int64
id_bandera                     int64
id_sucursal                    int64
sucursales_provincia          object
id_producto                   object
                              ...
precio_bulto_20210914        float64
precio_uni_iva_20210915      float64
precio_uni_20210915          float64
precio_bulto_iva_20210915    float64
precio_bulto_20210915        float64
Length: 65, dtype: object

In [25]:
# Valores únicos por columna
print("Número de valores únicos por columna:")
df.nunique()

Número de valores únicos por columna:

id_comercio                      9
id_bandera                       1
id_sucursal                    111
sucursales_provincia            22
id_producto                  54563
                             ...
precio_bulto_20210914        41100
precio_uni_iva_20210915      27273
precio_uni_20210915          26936
precio_bulto_iva_20210915    40983
precio_bulto_20210915        41558
Length: 65, dtype: int64

In [26]:
# Uso de memoria
def get_size(df):
    return f"{df.memory_usage(deep=True).sum() / 1024**2:.2f} MB"

print(f"Memoria total utilizada por el DataFrame: {get_size(df)}")

# Memoria por columna
memoria_columnas = df.memory_usage(deep=True)
print("\nMemoria utilizada por columna:")
for col, memoria in memoria_columnas.items():
    print(f"{col}: {memoria/1024**2:.2f} MB")

Memoria total utilizada por el DataFrame: 432.35 MB

Memoria utilizada por columna:
Index: 0.00 MB
id_comercio: 5.67 MB
id_bandera: 5.67 MB
id_sucursal: 5.67 MB
sucursales_provincia: 37.59 MB
id_producto: 37.32 MB
precio_uni_iva_20210901: 5.67 MB
precio_uni_20210901: 5.67 MB
precio_bulto_iva_20210901: 5.67 MB
precio_bulto_20210901: 5.67 MB
precio_uni_iva_20210902: 5.67 MB
precio_uni_20210902: 5.67 MB
precio_bulto_iva_20210902: 5.67 MB
precio_bulto_20210902: 5.67 MB
precio_uni_iva_20210903: 5.67 MB
precio_uni_20210903: 5.67 MB
precio_bulto_iva_20210903: 5.67 MB
precio_bulto_20210903: 5.67 MB
precio_uni_iva_20210904: 5.67 MB
precio_uni_20210904: 5.67 MB
precio_bulto_iva_20210904: 5.67 MB
precio_bulto_20210904: 5.67 MB
precio_uni_iva_20210905: 5.67 MB
precio_uni_20210905: 5.67 MB
precio_bulto_iva_20210905: 5.67 MB
precio_bulto_20210905: 5.67 MB
precio_uni_iva_20210906: 5.67 MB
precio_uni_20210906: 5.67 MB
precio_bulto_iva_20210906: 5.67 MB
precio_bulto_20210906: 5.67 MB
precio_uni_iva_20210907: 5.67 MB
precio_uni_20210907: 5.67 MB
precio_bulto_iva_20210907: 5.67 MB
precio_bulto_20210907: 5.67 MB
precio_uni_iva_20210908: 5.67 MB
precio_uni_20210908: 5.67 MB
precio_bulto_iva_20210908: 5.67 MB
precio_bulto_20210908: 5.67 MB
precio_uni_iva_20210909: 5.67 MB
precio_uni_20210909: 5.67 MB
precio_bulto_iva_20210909: 5.67 MB
precio_bulto_20210909: 5.67 MB
precio_uni_iva_20210910: 5.67 MB
precio_uni_20210910: 5.67 MB
precio_bulto_iva_20210910: 5.67 MB
precio_bulto_20210910: 5.67 MB
precio_uni_iva_20210911: 5.67 MB
precio_uni_20210911: 5.67 MB
precio_bulto_iva_20210911: 5.67 MB
precio_bulto_20210911: 5.67 MB
precio_uni_iva_20210912: 5.67 MB
precio_uni_20210912: 5.67 MB
precio_bulto_iva_20210912: 5.67 MB
precio_bulto_20210912: 5.67 MB
precio_uni_iva_20210913: 5.67 MB
precio_uni_20210913: 5.67 MB
precio_bulto_iva_20210913: 5.67 MB
precio_bulto_20210913: 5.67 MB
precio_uni_iva_20210914: 5.67 MB
precio_uni_20210914: 5.67 MB
precio_bulto_iva_20210914: 5.67 MB
precio_bulto_20210914: 5.67 MB
precio_uni_iva_20210915: 5.67 MB
precio_uni_20210915: 5.67 MB
precio_bulto_iva_20210915: 5.67 MB
precio_bulto_20210915: 5.67 MB